# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# auto-import.
.idea/modules.xml
.idea/vcs.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr