{{!< layout}}
<div class="row">
  <div class="col-12">
      <form action="/overview" method="POST" >
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Nombre">
        </div>        
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="correo electronico" aria-describedby="emailHelp">
        </div>
        
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Contraseña">
        </div>
        <div class="form-group">
          <input type="number" name="phone" class="form-control" placeholder="Télefono"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </div>
        <div class="form-group">
          <select id="userType" name="type" class="custom-select" required>
                <option value="">Soy:</option>
                <option value="ironSaver">ironSaver</option>
                <option value="Refugio">Refugio</option>
            </select>
        </div>
         <div id="Refugio" class="form-group direction" style="display:none">
          <input type="text" name="direction" class="form-control" placeholder="Dirección del refugio"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
        </div>
        <button type="submit" class="btn btn-primary">Crear nueva cuenta</button>
      </form>
  </div>
</div>
